
.card-body-cont{
    width: 100%;
    margin: 0 auto;
    
}

.card-body-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}



.card-body-linea{
    width: 35px;
    height: 1px;
    display: block;
    object-fit: cover;
    margin-left: 8px;
}


.card-body-number{
    font-size: 40px;
    color: #ffffff18;
}

.card-body-subtitle{
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-secondary);
    font-weight: 400;
    letter-spacing: 1.2px;
}


.card-body-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-body-paragraph{
    font-size: 12px;
    font-weight: 300;
}


/* Reverse Card */
.card-body-title-r{
    text-align: end;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-body-paragraph-r{
    text-align: end;
    font-size: 12px;
    font-weight: 300;

}

.card-body-header-r{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.card-body-footer-r{
    width: 75%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: flex-start;
}

.card-body-linea-r{
    width: 40px;
    height: 5px;
    display: block;
    object-fit: cover;
    margin-right: 8px;
}



.card-body-contimg{
    width: 75%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 3px 4px 10px rgba(0, 0,0,.5);
    margin-top: 20px;
}


.card-body-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-body-footer{

    width: 85%;
    margin: 0 15%;
    display: flex;
    justify-content: flex-end;
}


.cont-cardsBody{
    width: 80%;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;
  }